.submit{
width: 20px;
padding-left: 10%; 
}

body{
    background-image: url(./weatherbackground.jpg);
    background-blend-mode: darken;
    backdrop-filter: blur(3px);          
}

button{
    margin-top: 40px;
    margin-left: 400%;
    height: 40px;
    width: 90px;    
}

.box1{
    float: left;
    display: flex;
    margin-left: 200px;
    align-items: center;
    background-color: lightsteelblue;
    height: 200px;
    width: 30%;
    margin-top: auto;
    border-radius:20px;
}
 
header{
    font-size: xx-large;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
    width: 250px;
    height: 50px;
    border-style: ridge;
}

.information{
    text-align: center;
    color: white;
    padding-top: 20px;    
}

.weather{
    margin-left: 30px;
    margin-right: auto;
    float: left;
    width: 30%;
    height: 300px;
    margin-top: 200px;
    border-radius: 20px;
    background-image: url(./weather.jpg);
    background-blend-mode: hue;
}
